
@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-lg-6">
        <h3>Contact Information</h3>
        <hr />
        <ul>
            <li><b>Email: <a href="mailto:SiteContact@colie-g.com">SiteContact@Colie-G.com</a></b></li>
            <li><b>Facebook: <a href="https://www.facebook.com/coliegphotos">ColieG Photography</a></b></li>
        </ul>
    </div>
</div>



