@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Data Collection</h4>
<p>This site may collect some data from users visiting, such as but not limited to: browser, browser version, what parts of the site are accessed and at what times, the IP address of the client machine. No personal identification information is collected.</p>
<br />
<h4>Data Usage</h4>
<p>Data collected by this site is used only for site analysis and development. No data is sold to or held for any third party. </p>
